.alert-bar{
    align-self: flex-end;
    z-index: 2;
    position: -webkit-sticky;
    position: sticky;
    bottom: 20px;
    right: 20px;
    width: 40%;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.alert{
    opacity: 0.5;
    position: relative;
    margin: 5px;
    padding: 20px;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }
