.main{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    align-content: center;
    grid-auto-flow: row;
    display: grid;
    height: 30em; 
    width: 50em; 
    margin-left: 25% ;
    padding-top: 90px;
    grid-template-columns: 30% 30% 40% 20%;
    grid-template-rows: repeat(8, 12.5%);
}

.main .flip-card_front{
    position: absolute;
}

.main .flip-card_inner{
    position: absolute;
    z-index: 1;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: flat;
}

.main .back{
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-behavior: auto;
}

.bsa {
    background-color: white;
    grid-row: 1/5;
    grid-column: 1;
}


.bsa:hover .flip-card_inner {
    transform: scale(0) translate(100%, 100%);
}

.bsa .back{
    background-color: white;
    height: 15em;
    width: 15em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bsa .back button{
    width: 30%;
    border: none;
    background-color: lightblue;
}

.bsa .back button:hover{
    opacity: 0.7;
}

.bsa .back button:focus{
    outline: none;
    border: none;
    background-color: red;
}


.qa{
    grid-row: 5/-1;
    grid-column: 1;
}

.qa .flip-card_inner{
    background-color: green;
    width: 15em;
    height: 15em;
    transform-style: flat;
}

.qa:hover .flip-card_inner {
    transform: translate(50%, 50%) scale(0);
}

.qa .back{
    width: 15em;
    height: 15em;
    background-color: white;

}


.js{
    font-size: xx-large;
    grid-row: 1/7;
    grid-column: 2;
}


.js .flip-card_inner{
    width: 7.5em;
    height: 11.3em;
    background-color: orange;
    transform-style: flat;
}

.js:hover .flip-card_inner {
    transform: translate(-50%, 50%) scale(0) rotate(-360deg);
}

.js .back{
    background-color: white;
    width: 7.5em;
    height: 11.3em;

}


.java{
    font-size: xx-large;
    grid-row: 7/-1;
    grid-column: 2;
}



.java .flip-card_inner{
    width: 7.5em;
    height: 3.75em;
    background-color: red;

}

.java:hover .flip-card_inner {
    transform: translate(50%, -50%) scale(0) skew(40deg);
}

.java .back{
    background-color: white;
    width: 7.5em;
    height: 3.75em;


}

.php{
    font-size: xx-large;
    grid-row: 1/4;
    grid-column: 3/-1 ;
}


.php .flip-card_inner{
    width: 15em;
    height: 5.65em;
    background-color: rgb(117, 166, 182);
}

.php:hover .flip-card_inner {
    transform: translate(-50%, -50%) scale(0) rotate(180deg);
}

.php .back{
    background-color: white;
    width: 15em;
    height: 5.65em;

}


.net{
    font-size: xx-large;
    grid-row: 4/-1;
    grid-column: 3;
}


.net .flip-card_inner{
    overflow: hidden;
    width: 10em;
    height: 9.377em;
    background-color: rgb(194, 84, 194);
}

.net:hover .flip-card_inner {
    transform: skew(-40deg) scale(0) rotate(30deg);
}

.net .back{
    background-color: white;
    width: 10em;
    height: 9.377em;

}

.events{
    font-size: x-large;
    grid-row: 4/6;
    grid-column: 4;
    
}

.events .flip-card_inner{
    overflow: hidden;
    width: 6.65em;
    height: 5em;
    background-color: blue;
}

.events:hover .flip-card_inner {
    transform: scale(0) translate(10%);
}

.events .back{
    background-color: white;
    width: 6.65em;
    height: 5em;

}

.blogs{
    font-size: x-large;
    grid-row: 6/8;
    grid-column: 4;

}

.blogs .flip-card_inner{
    overflow: hidden;
    width: 6.65em;
    height: 5em;
    background-color: aqua;
}

.blogs:hover .flip-card_inner {
    transform: rotate(360deg) scale(0);
    
}

.blogs .back{
    background-color: white;
    width: 6.65em;
    height: 5em;

}

.contacts{
    font-size: x-large;
    grid-row: 8;
    grid-column: 4;
    
}

.contacts .flip-card_inner{
    width: 6.65em;
    height: 2.5em;
    background-color: blueviolet;
}

.contacts:hover .flip-card_inner {
    transform: skew(90deg)  scale(0);

}

.contacts .back{
    background-color: white;
    width: 6.65em;
    height: 2.5em;
    justify-content: space-around;
}

.contacts img:hover{
    opacity: 0.7;
}